body {
	background-image: url(../../img/lightpaperfibers.png);
	border-top: 11px solid #111;
}
.logo {
	max-height: 14rem;
	top: 2.5rem;
	left: 1rem;
	position: absolute;
	transition: all 0.1s;
	z-index: -1;
	@include breakpoint(small down) {
		max-height: 11rem;
	}
}
#topics-wrap {
	position: relative;
}
#topics {
	position: absolute;
	right: 1rem;
}
$color-food: #339945;
$color-mind: #335aff;
$color-spirit: #994599;
$color-technology: #cc3600;
.topic {
	border: 1px solid #888;
	border-top: 0;
	margin: 0 5px;
	background-color: #fff;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	transition: all 0.1s;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
	&:hover {
		color: #fff !important;
		padding-bottom: 1rem;
		border: 1px solid #111 !important;
		border-top: 0 !important;
	}
	.topic-label {
		color: inherit;
		font-size: 9px;
		border-bottom: 1px solid;
		padding-bottom: 2px;
		padding-top: 10px;
		margin: 0 10px 10px 0;
		text-align: right;
		max-height: auto;
	}
	.topic-content {
		color: inherit;
		text-align: right;
		font-size: 1.2rem;
		line-height: 1;
		padding: 1rem 0;
		margin: 0 10px 0 1rem;
	}
	.topic-icon {
		text-align: right;
		border-top: 1px solid;
		padding-top: 10px;
		margin: 10px 10px 10px 0;
	}
	@include breakpoint(medium down) {
		.topic-content {
			font-size: 0.85rem;
		}
	}
	@include breakpoint(small down) {
		display: none;
	}
}
.topic.food {
	color: $color-food;
	border-color: $color-food;
	&:hover {
		background-color: $color-food;
	}
}
.topic.mind {
	color: $color-mind;
	border-color: $color-mind;
	&:hover {
		background-color: $color-mind;
	}
}
.topic.spirit {
	color: $color-spirit;
	border-color: $color-spirit;
	&:hover {
		background-color: $color-spirit;
	}
}
.topic.technology {
	color: $color-technology;
	border-color: $color-technology;
	&:hover {
		background-color: $color-technology;
	}
}
@include breakpoint(small down) {
	.topic.active {
		display: block;
	}
}
